﻿@{
    ViewData["Title"] = "Confirmar apagar equipamento";
}

<div class="text-center">
    <h3>Deseja apagar este equipamento?(Geladeira)</h3>
</div>

<a class="btn btn-primary btn-block" role="button" asp-asp-controller="Equipamento" asp-action="Index">Cancelar</a>
<a class="btn btn-danger btn-block" role="button" asp-asp-controller="Equipamento2" asp-action="Excluir">Confirmar</a>