﻿@using Microsoft.AspNetCore.Identity
@using calculodeequipamentos.Areas.Identity.Data
<link href="~/css/sitelogineregist.css" rel="stylesheet" />

@inject SignInManager<UsuarioModel> SignInManager
@inject UserManager<UsuarioModel> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <link href="~/css/sitelogineregist.css" rel="stylesheet" />
        <ul class="menu">
            <li><a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá, @UserManager.GetUserName(User)!</a></li>

            <li>
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Equipamento", new { area = "" })">
                    <a><button id="logout" type="submit" class="nav-link btn btn-link text-white">Sair</button></a>
                </form>
        </ul>
    }
    else
    {

        <div class="d-flex justify-content-center">
            <a asp-page="/Equipamento/Index" class="mx-5">
                <img class="login" src="img/icons8-home.svg" />
                <span class="span-inicio">Início</span>
            </a>

            <a id="register" asp-area="Identity" asp-page="/Account/Register" class="mx-5">
                <img class="login" src="img/icons8-register-50.png" />
                <span class="span-inicio">Registrar</span>
            </a>

            <a id="login" asp-area="Identity" asp-page="/Account/Login" class="mx-5">
                <img class="login" src="img/icons8-person-64.png" />
                <span class="span-inicio">Login</span>
            </a>
        </div>
    }
</ul>