<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - calculodeequipamentos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   
</head>
<body>

    <header>
        <div class="container-texto">



            <a href="#">
                <img src="imagens/$.jpe" alt="Bootstrap" width="180" height="85">
            </a>
            <h1>Quem Somos</h1>
            <p>
                Nós do Grupo 02, do curso de Análise e Desenvolvimento de Sistemas, acreditamos que a preservação do meio ambiente é uma responsabilidade de todos, e nos dedicamos a oferecer soluções através da nossa Aplicação voltada para os cálculos do uso da energia solar, além de ser uma solução sustentável e econômica para as necessidades energéticas de todos. Pode ajudar a tornar o mundo um lugar melhor. Trabalhamos para levar a energia solar a cada vez mais pessoas e empresas, com um produto de alta qualidade e tecnologia de ponta. Estamos comprometidos com o futuro sustentável do planeta.
            </p>



        </div>



        <div class="container-texto2">


            <h1>Consumo de Energia</h1>
            <p>
                A conscientização sobre o consumo de energia é fundamental para garantir a sustentabilidade do planeta.O uso de energia limpa e renovável como os painéis solares é uma alternativa cada vez mais importante para diminuir a nossa dependência de fontes de
                energia não renováveis reduzir a poluição e preservar o meio ambiente.Os painéis solares são uma excelente opção para gerar energia de forma sustentável. Nosso sistema de calculo de consumo de energia com o uso de paineis solares
                pode economizar até 50% no consumo de energia em sua casa ou empresa.
            </p>

        </div>




        <div class="carouselExample carousel carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Importância da Energia no Planeta</h5>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <p>A economia de energia é um aspecto importante do consumo consciente de energia.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>A Importância do Painel Solar</h5>
                        <p></p>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-bs-target=".carouselExample" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target=".carouselExample" data-bs-slide-to="1"></li>
                <li data-bs-target=".carouselExample" data-bs-slide-to="2"></li>
            </ol>
            <button class="carousel-control-prev" type="button" data-bs-target=".carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target=".carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </header>
    
        <main>
           

            <div class="container">
                <div class="item">
                    <select size="4" class="form-select" id="inputGroupSelect01" multiple>
                        <option selected>Cozinha</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="item">
                    <select size="4" class="form-select" id="inputGroupSelect02" multiple>
                        <option selected>Quarto</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="item">
                    <select size="4" class="form-select" id="inputGroupSelect03" multiple>
                        <option selected>Sala de Estar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>

                    </select>
                </div>

                <div class="item">
                    <select size="4" class="form-select" id="inputGroupSelect04" multiple>
                        <option selected>Lavadeira</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>



            <div class="container-button">
                <div class="equipamentos-selecionados">
                    <p id="equip-selecionado"></p>
                    <button class="confirmar">CONFIRMAR</button>
                </div>
            </div>
        </main>
    

    <section>
        <div class="login-container">
        </div>
        <a class=" botao btn btn-primary btn-block" role="button" asp-controller="Equipamento" asp-action="Calculadora">Ir para calculadora</a>

    </section>

    <footer>
        <div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  
</body>
</html>