@model EquipamentoEletronico
@{
    ViewData["Title"] = "Adicionar novo Equipamento";
}


<!DOCTYPE html>
<html>
<head>
    <title>Adicionar novo Equipamento</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="calculadora">
        <h1>Adicionar novo Equipamento:</h1>
        <form class="form-calc" asp-controller="Equipamento" asp-action="Criar" method="post">
            <div class="form-group">
                <label class="label-calc" for="nome">Nome do Equipamento:</label>
                <input asp-for="Nome"  class="form-control" placeholder="Digite o nome do Equipamento" type="text">
            </div>
            <div class="form-group">
                <label class="label-calc" for="potencia">Potência do Equipamento (em watts):.</label>
                <input asp-for="Potencia"  class="form-control" placeholder="Digite a potência do Equipamento" type="number">
            </div>
            <div class="form-group">
                <label class="label-calc" for="tempodeuso">Tempo de Uso (em horas):</label>
                <input asp-for="TempoDeUso"  class="form-control" placeholder="Digite o Tempo de Uso do Equipamento" type="number">
            </div>
            <div class="form-group">
                <label class="label-calc" for="quantidade">Quantidade de equipamentos:</label>
                <input asp-for="Quantidade"  class="form-control" placeholder="Digite a quantidade de equipamentos" type="number">
            </div>
            <div class="form-group">
                <input asp-for="Consumo"  class="form-control" type="hidden">
            </div>

            <p id="resultado"></p>
            <button class="button-calcular" onclick="calcularConsumo()" type="button">Adicionar Equipamento</button>
            <button asp-controller="Equipamento" asp-action="Index" class="button-calcular" type="submit">Voltar</button>
        </form>
    </div>
    <script>
        function calcularConsumo() {
            var nome = document.getElementsByName("Nome")[0].value;
            var potencia = parseFloat(document.getElementsByName("Potencia")[0].value);
            var tempodeuso = parseFloat(document.getElementsByName("TempoDeUso")[0].value);
            var quantidade = parseFloat(document.getElementsByName("Quantidade")[0].value);


            var consumo = (potencia * tempodeuso * quantidade) / 1000;

            document.getElementById("resultado").innerHTML = "O consumo total de " + quantidade + " equipamentos " + nome + " em " + tempodeuso + " horas é de " + consumo.toFixed(2) + " kWh.";
            document.getElementsByName("Consumo")[0].value = consumo.toFixed(2);

            fetch('/EquipamentoEletronico', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    Nome: nome,
                    Potencia: potencia,
                    TempoDeUso: tempodeuso,
                    Quantidade: quantidade,
                    Consumo: consumo.toFixed(2)
                })
            })
                .then(response => {
                    if (response.ok) {
                        // Os dados foram enviados com sucesso
                        alert("Os dados foram enviados ao banco de dados.");
                    } else {
                        // Ocorreu um erro durante a requisição
                        alert("Ocorreu um erro ao enviar os dados ao banco de dados.");
                    }
                })
                .catch(error => {
                    // Ocorreu um erro durante a requisição
                    alert("Ocorreu um erro ao enviar os dados ao banco de dados.");
                    console.error(error);
                });
        }
    </script>

</body>
</html>