<h1 class="display-4">Resultado</h1>

<p>Consumo Total: @ViewBag.ConsumoTotal kWh</p>
<p>Número de Placas Solares Necessárias: @ViewBag.PlacasSolares</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Voltar</a>
