@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Seu registro foi efetuado com sucesso";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Este aplicativo não possui atualmente um remetente de e-mail real registrado, consulte <a href="https://aka.ms/aspaccountconf">estes documentos</a> para saber como configurar um remetente de e-mail real.
            Normalmente, isso seria enviado por e-mail: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>
        </p>
    }
    else
    {
        <p>
            Verifique seu e-mail para confirmar sua conta.
        </p>
    }
}

