@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link href="~/css/sitelogineregist.css" rel="stylesheet" />
<ul class="menu">
    <li><a asp-page="/Home/Index">Início</a></li>
    <li><a id="register" asp-area="Identity" asp-page="/Account/Register">Registrar</a></li>
    <li><a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
</ul>

<br />
<h1>Configure sua conta</h1>

<div>
    <h5>Altere os dados da sua conta.</h5>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
